//dark mode
$dark: black;
$light: white;
input[type="checkbox"] {
    z-index: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: fixed;
    top: 5vh;
    right: 5vh;
}

input[type="checkbox"]:before {
    content: "Dark";
    background: $dark;
    color: $light;
    padding: 10px 20px;
}

input[type="checkbox"]:checked:before {
    content: "Light";
    background: $light;
    color: $dark;
    .fontSize {
        color: $light;
    }
}

input[type="checkbox"]:checked~* {
    background-color: $dark !important;
    color: $light;
    footer {
        background-color: $dark !important;
    }
}