.banner {
    height: 50vh;
    width: 100%;
    position: relative;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        filter: inherit;
    }
}

.author {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    h3 {
        padding: 10px 0px;
    }
}

.story,
.my-work {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 80px 10px;
}

input[type="checkbox"] {
    display: flex;
    margin: auto;
    justify-content: flex-end;
}

.story-description,
.work-description {
    h3 {
        padding-bottom: 30px;
    }
    p {
        padding: 20px 0px;
    }
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    img {
        width: 100%;
        height: 35vh;
        filter: inherit;
        &:hover {
            transform: scale(1.5);
        }
    }
}

.profile img {
    height: 50vh;
    width: 40vh;
    filter: inherit;
}

@media (max-width: 1024px) {
    .story,
    .my-work {
        flex-direction: column;
    }
    .story-description,
    .work-description {
        width: 100%;
    }
    .work-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .profile {
        padding-top: 30px;
        text-align: center;
    }
}