@import "home";
@import "features";
@import "soon";
@import "footer";
@import "slide";
@import "contact";
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
}

h2 {
    font-size: 7rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

p {
    font-size: 2.5rem;
}

li {
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

.newHome {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#fef9f3, #131313);
    h1 {
        margin: 0;
        color: black;
    }
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    img {
        width: 100%;
        height: 35vh;
        &:hover {
            transform: scale(1.5);
        }
    }
}

.profile img {
    height: 50vh;
    width: 40vh;
}

.story,
.my-work {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 80px 0px;
    color: black;
    h3 {
        font-family: "Lobster", sans-serif;
        margin-bottom: 5vh;
    }
}

.story-description,
.work-description {
    h3 {
        font-size: 36px;
        padding-bottom: 30px;
    }
    p {
        padding: 20px 20px 20px 0px;
        font-size: 20px;
    }
}


/*mobile view*/

@media screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
    nav {
        #logo {
            flex: 1;
        }
        ul {
            li {
                margin-left: 5rem;
            }
        }
    }
    .showcase {
        grid-template-columns: 10% 1fr 10%;
        .fling-minislide {
            grid-column: 2/3;
        }
        .fling-minislide img {
            position: absolute;
            animation: fling-minislide 20s infinite;
            opacity: 0;
            width: 100%;
            height: auto;
        }
        h2,
        .info {
            grid-column: 2/3;
            text-align: center;
            margin: 5vh;
        }
    }
    .features {
        align-items: center;
        h2 {
            margin-top: 5rem;
        }
        .cards {
            flex-direction: column;
            width: 100%;
            .card {
                margin: 5rem 0rem;
            }
        }
    }
    .soon {
        overflow: hidden;
        h2 {
            top: 20%;
            font-size: 4rem;
            text-align: center;
        }
        .circle {
            height: 40vh;
            width: 40vh;
        }
    }
    footer {
        h1 {
            flex: 1;
        }
    }
    .story,
    .my-work {
        flex-direction: column;
    }
    .story-description,
    .work-description {
        width: 100%;
    }
    .work-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .profile {
        padding-top: 30px;
        text-align: center;
    }
}