* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    padding: 1vh 25vh;
}

#logo {
    font-size: 5vh;
    font-family: 'Antonio', sans-serif;
}

#topHead {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 1vh 25vh;
    background: orange;
    color: antiquewhite;
}

#colorPart {
    color: orangered;
}

.headUl {
    display: flex;
    justify-content: flex-end;
    li {
        margin-right: 1vh;
    }
}

ul {
    display: flex;
    justify-content: space-evenly;
    li {
        list-style-type: none;
        position: relative;
        &:hover {
            font-weight: bolder;
            text-decoration: underline;
            text-decoration-color: orangered;
            text-underline-position: under;
            text-decoration-thickness: 4px;
        }
        a:hover {
            font-weight: 2vh;
        }
    }
}

.dropdown {
    display: flex;
    li {
        position: relative;
        padding: 8px;
        &:hover>ul {
            display: block;
            text-decoration: none;
        }
    }
    ul {
        display: none;
        border: 1px solid rgba(0, 0, 0, 0.3);
        /* Absolute position */
        left: 0;
        position: absolute;
        top: 100%;
        /* Width */
        width: 200px;
        font-weight: bolder;
        ul {
            left: 100%;
            position: absolute;
            top: 0;
        }
    }
}

#nav>ul>li>ul>li {
    font-weight: normal;
    &:hover {
        text-decoration: none;
        font-weight: bolder;
    }
    >ul>li {
        font-weight: normal;
        &:hover {
            text-decoration: none;
            font-weight: bolder;
        }
    }
}


/*breadcrumb*/

ul.breadcrumb {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 1vh 25vh;
    margin: 5vh 0;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    content: "/\00a0";
    font-weight: normal;
}

ul.breadcrumb li a {
    text-decoration: none;
    color: rgb(34, 32, 32);
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}


/*contact us*/

main {
    display: grid;
    padding: 1vh 25vh;
}

header {
    grid-column: 1/3;
    margin-bottom: 6vh;
}

form {
    grid-column: 1/2;
    margin-right: 10vh;
    display: grid;
}

#address {
    grid-column: 2/3;
    margin-right: 5vh;
}

#phone {
    grid-column: 1/2;
}

#email {
    grid-column: 1/2;
}

input,
textarea {
    border: none;
    background-color: rgb(248, 243, 243);
    padding: 1vh;
    margin-bottom: 1vh;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

textarea::placeholder {
    font-weight: normal;
}

input[type=submit] {
    width: fit-content;
    padding: 1vh 3vh;
    background-color: orangered;
    color: white;
}

h2 {
    padding-bottom: 1vh;
}

h3 {
    color: orange;
    border-bottom: 4px solid black;
    margin-bottom: 2vh;
    padding-bottom: 1vh;
}


/*socialmedia*/

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color: rgba(128, 128, 128, 0.707);
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: black;
    color: white;
}